##############################################################################
# Este archivo es solo un ejemplo para .env que usa el compose en de desarrollo docker
##############################################################################

# Credenciales para acceder a la bases de datos desde app express
# ---------------------------------------------------------------

# Nombre del servicio de db mysql
EC_DB_HOST=ec-db-mysql

# Password igual al MYSQL_ROOT_PASSWORD
EC_DB_PASSWORD=mysql_password

# Nombre de base de datos establecida por MYSQL_DATABASE
EC_DB_NAME=name_your_db

# Puerto igual al de MYSQL_PORT, usualmente el 3306
EC_DB_PORT=port_mysql

# Usar el usuario root
EC_DB_USER=root

# Credenciales del primer usuario administrador
# -----------------------------------------------

# Nombre de usuario con el que se logeare al sistema, debe segir el regex expuesto en ./backend/consts/regexUsername.js
EC_SYS_USERNAME=admin_1

# Contraseña del primer usuario administrador, debe segir el regex expuesto en ./backend/consts/regexPassword.js
EC_SYS_PASSWORD=root_password

# Variables necesarias para JWT
EC_SECRET_KEY=your_secret_key_for_jwt
REFRESH_SECRET=your_refresh_secret_for_jwt

# Esta varible es usada por el CORS y que no tengas problemas en desarrollo
# Debe ser la URL de la app del frontend
EC_REACT_APP=http://localhost:9300
NODE_ENV=development

# Credenciales para service MySQL
MYSQL_DATABASE=name_your_db
MYSQL_PORT=port_mysql
MYSQL_ROOT_PASSWORD=mysql_password

# Url de la API, usada en los fetch calls del frontend (axios)
VITE_API_URL=http://localhost:9200