
# Este evn es usado en caso de no usar Docker.
# Para tu entorno local

EC_DB_HOST=localhost
EC_DB_PASSWORD=your_password
EC_DB_NAME=your_db_name
EC_DB_PORT=5432
EC_DB_USER=your_username

EC_DB_DIALECT=postgres
EC_DB_SCHEMA=backend_app
EC_DB_SSL=true

EC_SECRET_KEY="your_jwt_secret_key"
REFRESH_SECRET="your_jwt_refresh_secret"
NODE_ENV=development

# Ajusta si se pretende desplegar el front en otro servidor o servicio
EC_REACT_APP="http://localhost:5173"